.sheet-rolltemplate-5e-stat-block table {
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial,
                sans-serif;
    text-align:left;
    width: 300px;
    background:  #FDF1DC;
    padding: 0.6em;
    border: 1px #DDD solid;
    box-shadow: 0 0 1.5em #867453;
    position: relative;
    z-index: 0;    
    margin-left: 2px;
    margin-right: 2px;
    display:table;
}

.sheet-rolltemplate-5e-stat-block th {
    font-family: 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman,
                    'Goudy Old Style', Garamond, 'Hoefler Text',
                    'Bitstream Charter', Georgia, serif;
    color: #5E2424;
    font-weight: 700;
    margin-top: -6px;
    margin-bottom: -2px;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-variant: small-caps;    
}

.sheet-rolltemplate-5e-stat-block .sheet-ah3 {
    font-family:arial;
    font-size:1.5em;
    color: #5E2424;
    font-variant: small-caps;
    font-weight: bold;
}

.sheet-rolltemplate-5e-stat-block .sheet-ah3:first-letter {
    font-size:2em;
}

.sheet-rolltemplate-5e-stat-block .sheet-monster-subheading {
    font-weight: normal;
    font-style: italic;
    font-size: .9em;
    margin: 0 2px 0 2px;
}

.sheet-rolltemplate-5e-stat-block .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 290px solid #7A200D;
}

.sheet-rolltemplate-5e-stat-block .sheet-monster-section-1 {
    color: #5E2424;
    text-indent: -1em;
    /*margin-left: 0.4em;*/    
    margin: 2px 5px 2px 5px;
    display: inline;
    font-weight: bold;
}

.sheet-rolltemplate-5e-stat-block .sheet-monster-section-2 {
    display: block;
    margin: 2px 5px 2px 5px;
}

.sheet-rolltemplate-5e-stat-block .sheet-monster-stats {
    color: #5E2424;
    font-weight: bold;
    text-align: center;
}

.sheet-rolltemplate-5e-stat-block .sheet-monster-stat {
    text-align: center;
}

.sheet-rolltemplate-5e-stat-block .inlinerollresult {
	text-align: center;
    background-color: transparent;
    border-style: none;
    font-weight: normal;
}

.sheet-rolltemplate-5e-stat-block .sheet-line {
    height: 1px;
    background: #7A200D;
    position: relative;
    z-index: 1;
}

.sheet-rolltemplate-5e-stat-block .sheet-page-cap {
    width: 302px;
    height: 5px;
    background: #E69A28;
    border: 1px solid #000;
    position: relative;
    z-index: 1;
}
